<!DOCTYPE html>
<html>
    <head>
        <title>Blogosfera - Logowanie</title>
        <link rel="stylesheet" href="/public/styles/start.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="logo-section">
            <img src="/public/img/blogosfera.svg" alt="Blogosfera">
        </div>
        <div class="login-panel">
            <form>
                <input placeholder="Adres e-mail" name="email">
                <input placeholder="Hasło" type="password">
                <button>LOGIN</button>
            </form>
        </div>
    </body>
</html>