body {
  
    background-color: #D4B483;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    gap: 5rem;
    padding: 0 5vw 0 0;
}

.logo-section img {
    width: 40vw;
    height: auto;
}

.login-panel {
    background: #C1666B;
    box-shadow: 0px 19.0303px 19.0303px rgba(0, 0, 0, 0.25);
    padding: 5rem 3rem 2.5rem 3rem;
    border-radius: 0.1rem;
    min-height: 12rem;
}

.login-panel form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-panel input {

    background-color: #E4DFDA;
    font-family: 'Inter', 'sans-serif';
    font-weight: 300;
    font-size: 0.8rem;
    color: #969696;

    border: none;
    border-radius: 0.6rem;

    box-sizing: border-box;

    padding: 0.7rem 0.7rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.login-panel button {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

    background-color: #D4B483;

    border: none;
    border-radius: 0.6rem;

    font-family: 'Inter', 'sans-serif';
    font-weight: 300;
    font-size: 1.2rem;

    color: #000000;

    padding: 0.5rem 0 0.5rem 0;
    margin-top: 1rem;
}